@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor .6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%, 40% {
    opacity: 1;
  }

  60%, 100% {
    opacity: 0;
  }
}

